@use "variables";
body {
  margin: 0;
  background-color:  variables.$bg; // using scoped variable
  color: var(--text); // using global variable
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1.5em;
}

li{
  list-style-image: url('../images/sword-32x32.png');
}